In [1]:
# Import libraries
import pandas as pd # To manage tables
import numpy as np # To manage numbers and vectors
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
w1 = pd.read_spss('./datenstze/W1_PPS_02.sav')

w2 = pd.read_spss('./datenstze/W2_PPS_01.sav')

w3 = pd.read_spss('./datenstze/W3_PPS_Datensatz01.sav')

w4 = pd.read_spss('./datenstze/W4_PPS_SoSe21_v1.sav')

w5= pd.read_spss('./datenstze/W5_PPS_02.sav')

## Files
# 1. './datenstze/Welle6_v2_4_Gruppen.sav'
# 2. './datenstze/Welle6_v3_Gruppen.sav'
w6 = pd.read_spss('./datenstze/Welle6_v3_Gruppen.sav')

w8 = pd.read_spss('./datenstze/Welle8_v2.sav')

In [4]:
def define_praktikums(row, tuples, returnList=False):
    list_praktikums = []
    for (col, praktikum) in tuples:
        if(row[col] == 'ausgewählt' or row[col] == 'Praktikum absolviert'):
            list_praktikums.append(praktikum)
    if returnList:
        return list_praktikums
    if len(list_praktikums) > 0:
        return list_praktikums[-1]
    else:
        return None

In [5]:
praktikums_names = {
    "Fachpraktikum A": "FP A", 
    "Fachpraktikum B": "FP B",
    "Vertiefungspraktikum A": "VP A", 
    "Vertiefungspraktikum B": "VP B", 
    "Einführungspraktikum B": "EP B",
    "Einführungspraktikum A": "EP A" 
}

praktikums_w1 = [('D6_01','FP A'),('D6_02','FP B'),('D6_03','VP A'),('D6_04','VP B')]
w1['Praktikum'] = w1.apply(lambda row: define_praktikums(row, praktikums_w1 , returnList=False), axis=1)

praktikums_w2 = [('SD23_01','FP A'),('SD23_02','FP B'),('SD23_03','VP A'),('SD23_04','VP B')]
w2['Praktikum'] = w2.apply(lambda row: define_praktikums(row,praktikums_w2, returnList=False), axis=1)

praktikums_w3_w4 = [('PS11_01','FP A'),('PS11_02','FP B'),('PS11_03','VP A'),('PS11_04','VP B'),('PS11_05','EP A')]

w3['Praktikum'] = w3.apply(lambda row: define_praktikums(row,praktikums_w3_w4,returnList=False), axis=1)
w4['Praktikum'] = w4.apply(lambda row: define_praktikums(row,praktikums_w3_w4,returnList=False), axis=1)
w5['Praktikum'] = w5['PS11']
w5['Praktikum'].replace(praktikums_names, inplace=True)
w6['Praktikum'] = w6['PS11']
w6['Praktikum'].replace(praktikums_names, inplace=True)

praktikums_w8 = [('SD08_01','EP A'),('SD08_02','EP B'),('SD08_03','FP A'),('SD08_04','FP B'), ('SD08_05','VP A'),('SD08_06','VP B'),('SD08_07','MP A')]
w8['Praktikum'] = w8.apply(lambda row: define_praktikums(row,praktikums_w8, returnList=False), axis=1)

In [6]:
# Generate ID of students

# Code is [VornameMutter] + [VornameVater] + [ErsteBuchstabe Vorname Student] + [Tag Geburstag] + [(G: grün, B: blue, B: brown) * (ignoring)]
w2['ID_student'] = w2['ID01_01'] +w2['ID01_03'] + w2['ID01_05'] + w2['ID01_07'].str.zfill(2)
w3['ID_student'] = w3['CV27_01'].str[:5]
w4['ID_student'] = w4['CV27_01'] +w4['CV27_02'] + w4['CV27_03'] + w4['CV27_04'].astype('str').str.zfill(2)
w5['ID_student'] = w5['CV27_01'] +w5['CV27_02'] + w5['CV27_03'] + w5['CV27_04'].astype('str').str.zfill(2)
w6['ID_student'] = w6['SC08_01'] +w6['SC08_02'] + w6['SC08_03'] + w6['SC08_04'].astype('str').str.zfill(2)
w8['ID_student'] = w8['CO01_01'].str[:5]

In [7]:
# w1_swe = w1[['SWE_Ges']]
# w3_swe = w3[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w4_swe = w4[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w5_swe = w5[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w6_swe = w6[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']]
# w8_swe = w8[['SW01_01', 'SW01_02','SW01_03','SW01_04', 'SW01_05']]

In [8]:
w4['PS13']

0        2
1        4
2        8
3        2
4        6
      ...
242      4
243      2
244      5
245      4
246    NaN
Name: PS13, Length: 247, dtype: category
Categories (8, object): ['&gt;10', '1', '2', '3', '4', '5', '6', '8']

### Selection of relevant columns

In [9]:
# w1 --> D5 Semester #
# w3,w4 --> PS13 Semester #
# w5 --> PS13 Semester, Beginn des Studium
# w6 --> SF02 Semester, Beginn des Studium
# w8 --> SD05 Semester, Beginn des Studium

w1_ = w1[['Praktikum','SWE_Ges','FINISHED','TIME_SUM','D5','D2','D1']].copy()
# w2_ = w2[['Praktikum_w2','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM']].copy()
w3_ = w3[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','PS13','D002','D001_01']].copy()
w4_ = w4[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','PS13','D002','D001_01']].copy()
w5_ = w5[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','PS13','SD02','SD01_01']].copy()
w6_ = w6[['Praktikum','KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05','FINISHED','TIME_SUM','SF02','SD02','SD01_01']].copy()
w8_ = w8[['Praktikum','SW01_01', 'SW01_02','SW01_03','SW01_04', 'SW01_05','FINISHED','TIME_SUM','SD05','SD02','SD01_01']].copy()

w1_.rename(columns={"D2": "geschlecht", "D1": "age"}, inplace=True)
w3_.rename(columns={"D002": "geschlecht", "D001_01": "age"}, inplace=True)
w4_.rename(columns={"D002": "geschlecht", "D001_01": "age"}, inplace=True)
w5_.rename(columns={"SD02": "geschlecht", "SD01_01": "age"}, inplace=True)
w6_.rename(columns={"SD02": "geschlecht", "SD01_01": "age"}, inplace=True)
w8_.rename(columns={"SD02": "geschlecht", "SD01_01": "age"}, inplace=True)

In [10]:
w1_['age'][w1_['age'] == ""] = np.nan
w3_['age'][w3_['age'] == ""] = np.nan
w4_['age'][w4_['age'] == ""] = np.nan
w5_['age'][w5_['age'] == ""] = np.nan
w6_['age'][w6_['age'] == ""] = np.nan
w8_['age'][w8_['age'] == ""] = np.nan

/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_7697/3971328352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w1_['age'][w1_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_7697/3971328352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w3_['age'][w3_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_7697/3971328352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w4_['age'][w4_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_7697/3971328352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w5_['age'][w5_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_7697/3971328352.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w6_['age'][w6_['age'] == ""] = np.nan
/var/folders/7d/_gpk9ss57ds45n_1n6vsctt40000gn/T/ipykernel_7697/3971328352.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w8_['age'][w8_['age'] == ""] = np.nan

In [11]:
w1_["Praktikum"].value_counts()

Praktikum
FP B    108
VP A     79
VP B     38
FP A     35
Name: count, dtype: int64

Select students who spent more than **300 seconds** on the test and **finished** the test

In [12]:
TIME_SUM_THRESHOLD = 300

w1_ = w1_[(w1_['FINISHED'] == 'ausgefüllt') & (w1_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w3_ = w3_[(w3_['FINISHED'] == 'ausgefüllt') & (w3_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w4_ = w4_[(w4_['FINISHED'] == 'ausgefüllt') & (w4_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w5_ = w5_[(w5_['FINISHED'] == 'ausgefüllt') & (w5_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w6_ = w6_[(w6_['FINISHED'] == 'ausgefüllt') & (w6_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()
w8_ = w8_[(w8_['FINISHED'] == 'ausgefüllt') & (w8_['TIME_SUM'] >TIME_SUM_THRESHOLD)].copy()

In [13]:
## After applying the threshold and selection, compare with the output above

w1_["Praktikum"].value_counts()

Praktikum
FP B    108
VP A     73
VP B     36
FP A     35
Name: count, dtype: int64

In [14]:
# Remove rows that have any missing values in any of the columns

w1_.dropna(axis='index', how='any', inplace=True)
w3_.dropna(axis='index', how='any',inplace=True)
w4_.dropna(axis='index', how='any',inplace=True)
w5_.dropna(axis='index', how='any',inplace=True)
w6_.dropna(axis='index', how='any',inplace=True)
w8_.dropna(axis='index', how='any',inplace=True)

In [15]:
w3_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 4}, inplace=True)
w4_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 4}, inplace=True)
w5_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w6_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)
w8_.replace({"trifft gar nicht zu": 1, "trifft voll zu": 6}, inplace=True)

In [16]:
w3_ = w3_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w4_ = w4_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w5_ = w5_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w6_ = w6_.astype({'KO01_01': 'float16', 'KO01_02': 'float16', 'KO01_03': 'float16', 'KO01_04': 'float16', 'KO01_05': 'float16'})
w8_ = w8_.astype({'SW01_01': 'float16', 'SW01_02': 'float16', 'SW01_03': 'float16', 'SW01_04': 'float16', 'SW01_05': 'float16'})

Calculate **SWE** and normalize value to **max 6**
- Max value **4** in SWE : w1, w3, w4
- Max value **6** in SWE : w5, w6, w8

In [17]:

w3_['SWE'] = w3_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w4_['SWE'] = w4_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w5_['SWE'] = w5_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w6_['SWE'] = w6_[['KO01_01','KO01_02','KO01_03', 'KO01_04','KO01_05']].mean(axis=1)
w8_['SWE'] = w8_[['SW01_01','SW01_02','SW01_03', 'SW01_04','SW01_05']].mean(axis=1)

w1_['SWE_norm'] = w1_['SWE_Ges']/4 * 6
w3_['SWE_norm'] = w3_['SWE']/4 * 6
w4_['SWE_norm'] = w4_['SWE']/4 * 6

w5_['SWE_norm'] = w5_['SWE']
w6_['SWE_norm'] = w6_['SWE']
w8_['SWE_norm'] = w8_['SWE']

**Define Semester**

In [18]:
def define_semester(beginn_studium, semester_welle):
    if "WS" in beginn_studium:
        beginn_studium = beginn_studium.replace("WS", "WiSe")
    if "SS" in beginn_studium:
        beginn_studium = beginn_studium.replace("SS", "SoSe")

    current_year = semester_welle[5:9] # Year 2022
    current_ws_ss = semester_welle[:4] # WiSe or SoSe

    beginn_year =  beginn_studium[5:9]
    beginn_ws_ss = beginn_studium[:4]

    fruher = True if "früher" in beginn_studium else False
    
    actual_semester = 0
    diff_year = int(current_year) - int(beginn_year)
    if diff_year == 0 and (current_ws_ss == beginn_ws_ss):
        actual_semester = 1
    else:

        if current_ws_ss == beginn_ws_ss:
            actual_semester = (diff_year * 2) + 1
        elif current_ws_ss == "WiSe" and beginn_ws_ss == "SoSe":
            actual_semester = (diff_year * 2) + 2
        else:
            actual_semester = (diff_year * 2)

    actual_semester =  ">=" +str(actual_semester) if fruher else str(actual_semester)

    return (actual_semester)

In [19]:
# w1 --> D5 Semester #
# w3,w4 --> PS13 Semester #
# w5 --> PS13 Semester, Beginn des Studium
# w6 --> SF02 Semester, Beginn des Studium
# w8 --> SD05 Semester, Beginn des Studium

w1_['Semester'] = w1_['D5']
w3_['Semester'] = w3_['PS13']
w4_['Semester'] = w4_['PS13']

w5_['Semester'] = w5_['PS13'].apply(lambda row: define_semester(row, semester_welle='WiSe 2021'))
w6_['Semester'] = w6_['SF02'].apply(lambda row: define_semester(row, semester_welle='SoSe 2022'))
w8_['Semester'] = w8_['SD05'].apply(lambda row: define_semester(row, semester_welle='SoSe 2023'))

In [20]:
w1_

,Praktikum,SWE_Ges,FINISHED,TIME_SUM,D5,geschlecht,age,SWE_norm,Semester
1,FP B,3.8,ausgefüllt,689.0,5.0,weiblich,34.0,5.7,5.0
2,FP A,3.6,ausgefüllt,689.0,5.0,männlich,26.0,5.4,5.0
4,VP A,2.4,ausgefüllt,1344.0,7.0,weiblich,23.0,3.6,7.0
5,VP A,3.2,ausgefüllt,632.0,7.0,männlich,24.0,4.8,7.0
13,FP B,3.8,ausgefüllt,986.0,5.0,weiblich,34.0,5.7,5.0
...,...,...,...,...,...,...,...,...,...
255,FP B,3.8,ausgefüllt,2780.0,5.0,männlich,23.0,5.7,5.0
256,FP B,3.8,ausgefüllt,814.0,5.0,weiblich,22.0,5.7,5.0
257,FP B,3.6,ausgefüllt,1376.0,5.0,weiblich,21.0,5.4,5.0
258,FP B,4.0,ausgefüllt,941.0,5.0,weiblich,21.0,6.0,5.0
259,FP B,3.4,ausgefüllt,1078.0,5.0,weiblich,20.0,5.1,5.0

#### Groups by praktikum

In [21]:
from collections import defaultdict
selected_columns = ['Praktikum','SWE_norm','Semester','geschlecht','age']
wellen = [
    w1_[selected_columns].values,
    w3_[selected_columns].values, 
    w4_[selected_columns].values, 
    w5_[selected_columns].values, 
    w6_[selected_columns].values, 
    w8_[selected_columns].values
]

groups_praktikum = defaultdict(list)

for vals in wellen:
    for row in vals:
        groups_praktikum[row[0]].append(row)

for key in groups_praktikum.keys():
    groups_praktikum[key] = np.array(groups_praktikum[key])

In [22]:
list_praktikums = pd.DataFrame(
    np.concatenate(tuple(praktikum_values for praktikum_values in groups_praktikum.values()), axis=0),
    columns=['Praktikum','SWE_norm','Semester','geschlecht','age']
)
list_praktikums.head()

  Praktikum SWE_norm Semester geschlecht   age
0      FP B      5.7      5.0   weiblich  34.0
1      FP B      5.7      5.0   weiblich  34.0
2      FP B      4.5      5.0   weiblich  20.0
3      FP B      3.9      7.0   weiblich  23.0
4      FP B      3.9      6.0   männlich  23.0

In [23]:
a = {}
a["w1"] = 4

#### Praktikum in each welle

In [24]:
from collections import defaultdict
dict_wellen = {}
wellen = [
    w1_[selected_columns],
    w3_[selected_columns], 
    w4_[selected_columns], 
    w5_[selected_columns], 
    w6_[selected_columns], 
    w8_[selected_columns],
]

wellen_names = ["w1","w3","w4","w5","w6","w8"]
for name,w in zip(wellen_names,wellen):
   dict_wellen[name] = {
      "EP_A" : w[w['Praktikum'] == 'EP A']["SWE_norm"].mean(),
      "EP_B" : w[w['Praktikum'] == 'EP B']["SWE_norm"].mean(),
      "FP_A" : w[w['Praktikum'] == 'FP A']["SWE_norm"].mean(),
      "FP_B" : w[w['Praktikum'] == 'FP B']["SWE_norm"].mean(),
      "VP_A" : w[w['Praktikum'] == 'VP A']["SWE_norm"].mean(),
      "VP_B" : w[w['Praktikum'] == 'VP B']["SWE_norm"].mean()
   }

pd.DataFrame.from_dict(dict_wellen, orient="index")

        EP_A     EP_B      FP_A      FP_B      VP_A      VP_B
w1       NaN      NaN  4.882759  4.935484  4.904545  4.983871
w3  4.617188      NaN  4.667969  4.589844  4.945312  5.175781
w4  5.121094      NaN  4.875000  4.949219  5.285156  5.050781
w5  4.859375      NaN  4.644531  4.734375  4.746094  4.890625
w6       NaN  4.96875  4.898438  5.066406  4.746094  4.855469
w8  4.703125  4.78125  4.804688  4.738281  4.863281  4.609375

In [25]:
w1_[w1_['Praktikum'] == 'EP A']["SWE_norm"].mean()

nan

In [26]:
w1_[w1_['Praktikum'] == 'FP A']['SWE_norm'].mean()

4.882758620689655

In [27]:
import pyreadstat

pyreadstat.write_sav(list_praktikums, 'list_praktikums_11_02_2024.sav')

for n,w in zip(wellen_names,wellen):
    file = f"./lists_11_02_2024/{n}_list.sav"
    print(file)
    pyreadstat.write_sav(pd.DataFrame(w.values, columns=selected_columns), file)

./lists_11_02_2024/w1_list.sav
./lists_11_02_2024/w3_list.sav
./lists_11_02_2024/w4_list.sav
./lists_11_02_2024/w5_list.sav
./lists_11_02_2024/w6_list.sav
./lists_11_02_2024/w8_list.sav

## Age

In [33]:
for name,w in zip(wellen_names,wellen):
    w.loc[:,'welle'] = name

In [30]:
wellen_all = pd.concat(wellen)

In [32]:
wellen_all[['welle','geschlecht','age']].groupby(by=["welle","geschlecht"]).median()

                      age
welle geschlecht
w1    männlich       24.0
      weiblich       22.0
w3    männlich       24.0
      weiblich       22.0
w4    divers/andere  20.5
      männlich       22.0
      weiblich       21.0
w5    divers/andere  22.5
      männlich       23.0
      weiblich       22.0
w6    divers/andere  22.0
      männlich       22.0
      weiblich       21.0
w8    divers         22.0
      männlich       24.0
      weiblich       22.0